@model IEnumerable<Kursach3.Models.ApplicationUser>

<table class="table">
    <tr>
        <th>
            @Resources.Resource.Login
        </th>
        <th>
            @Resources.Resource.Email
        </th>
        <th>
            @Resources.Resource.Ban
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ban)
            </td>
            <td>
                @Html.ActionLink(Resources.Resource.Ban, "BanUser", new { id = item.Id })
            </td>
        </tr>
    }

</table>